<header id="top">

        <div class="container">

            <a href="/he/index.html#home" class="logo">

                <img
                    src="../../images/logo.jpg"
                    alt="לוגו מכון לחקר גנאלוגיה"
                    width="220"
                    height="220">
            </a>

        <nav>
    <ul>
        <li><a href="/he/index.html#home">בית</a></li>
        <li><a href="/he/index.html#about">אודות</a></li>
        <li><a href="/he/index.html#expertise">תחומי התמחות</a></li>
        <li><a href="/he/index.html#projects">פרויקטים</a></li>
        <li><a href="/he/index.html#collaborations">שיתופי פעולה</a></li>
        <li><a href="/he/index.html#gallery">גלריה</a></li>
        <li><a href="/he/index.html#contact">צור קשר</a></li>
        </ul>
</nav>

<div class="header-actions">

     <a href="../en/index.html"
        hreflang="en"
        class="lang-switch"
        id="languageSwitch"
        aria-label="English version">
        EN
    </a>

    <button
    id="menuButton"
    aria-label="פתח תפריט ניווט">

    <i class="fa-solid fa-bars" aria-hidden="true"></i>

    </button>

    </div>

    </header>
    <main>